*{
    padding: 0;
    margin: 0;
    
}
header{
    margin:15px
}
.desc{
    border-bottom: solid;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-wrapper{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    width: 100vw;
    
    

}
#main-container{
    width: 30vw;
    border: solid;
    min-width: 500px;
    
}

#name,#master-event,#venue{
    width: 75%;
    height: 25px ;
}
#date{
    width: 60%;
}
.date-container{
    border-bottom: solid;
    padding: 5px;
    display: flex;
    justify-content: space-between;

}

.btn{
    width:25px;
    height:25px;
}
.newDate{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    grid-template-rows: repeat(2,1fr);
    border-bottom: solid black;
    
    

    
    
    
   
}
.add-delete{
    
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.date{
    height: 25px;
    width: 95%;
    margin:4px;
    
    
    
}
label{
    
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
input{
    width: 30%;
}
